<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.room.title %></title>
    <script defer src="/javascripts/room.js"></script>
</head>

<body>
    <% include navbar %>
        <% if (locals.errors) { %>
            <% errors.forEach((err)=> { %>
                <p><%- err.msg %></p>
                <% }) %>
                    <% } %>
                        <% if (messages.error) { %>
                            <p><%- messages.error %></p>
                            <% } %>

                                <div>
                                    <div>
                                        <h1><%- room.title %></h1>
                                        <p><%- room.description %></p>
                                        <p>Created by <%- room.user.username %> at <%- room.createdAtFormatted %></p>
                                        <!-- Display Updated At if has been updated -->
                                        <% if (room.createdAt.getTime() !=room.updatedAt.getTime()) { %>
                                            <p><%- `Updated at ${room.updatedAtFormatted}` %></p>
                                            <% } %>
                                    </div>
                                    <div>
                                        <!-- Display each tag in room -->
                                        <% room.tags.forEach((tag)=> { %>
                                            <p><%- tag.title %></p>
                                            <% }) %>
                                    </div>
                                </div>

                                <div>
                                    <% if (locals.currentUser.id==room.user._id) { %>
                                        <div>
                                            <form method="POST" action=<%- `/rooms/${room._id}/delete` %>>
                                                <button type="submit">Delete room</button>
                                            </form>
                                        </div>
                                        <div>
                                            <form method="GET" action=<%- `/rooms/${room._id}/update` %>>
                                                <button type="submit">Update room</button>
                                            </form>
                                        </div>
                                        <% } %>
                                            <div>
                                                <button type="button" id="btnShowAddComment">Add comment</button>
                                            </div>
                                </div>

                                <hr>

                                <!-- Display with JS if add comment button is pressed -->
                                <div>
                                    <form method="POST" id="addCommentForm" action=<%-
                                        `/rooms/${room._id}/comments/create` %>>
                                        <textarea name="commentBody"></textarea>
                                        <button id="btnCancelAddComment" type="button">Cancel</button>
                                        <button type="submit">Add</button>
                                    </form>
                                </div>

                                <div>
                                    <h3>Comments</h3>
                                    <!-- If there are comments loop through otherwise display no comments message -->
                                    <% if (room.comments.length> 0) { %>
                                        <% room.comments.forEach((comment)=> { %>
                                            <div>
                                                <div>
                                                    <div>
                                                        <p><strong><%- comment.user.username %></strong></p>
                                                        <p><%- comment.user.email %></p>
                                                    </div>
                                                    <!-- Allow update and delete if current user is owner -->
                                                    <% if (locals.currentUser.id==comment.user._id) { %>
                                                        <div>
                                                            <button class="btnUpdateComment">Update Comment</button>
                                                            <form method="POST" class="updateCommentForm" action=<%-
                                                                `/rooms/${room._id}/comments/${comment._id}/update` %>>
                                                                <textarea name="commentBody"></textarea>
                                                                <button class="btnCancelUpdateComment"
                                                                    type="button">Cancel</button>
                                                                <button type="submit">Update</button>
                                                            </form>
                                                            <form method="POST" action=<%-
                                                                `/rooms/${room._id}/comments/${comment._id}/delete` %>>
                                                                <button type="submit">Delete Comment</button>
                                                            </form>
                                                        </div>
                                                        <% } %>
                                                            <div>

                                                            </div>
                                                            <div>
                                                                <p>Created at <%- comment.createdAtFormatted %></p>
                                                                <!-- Display Updated At if has been updated -->
                                                                <% if (comment.createdAt.getTime()
                                                                    !=comment.updatedAt.getTime()) { %>
                                                                    <p><%- `Updated at ${comment.updatedAtFormatted}` %>
                                                                    </p>
                                                                    <% } %>
                                                            </div>

                                                </div>
                                                <p><%- comment.body %></p>
                                            </div>
                                            <hr>
                                            <% }) %>
                                                <% } else { %>
                                                    <p>No comments yet! Click Add comment to get started!</p>
                                                    <% } %>
                                </div>
</body>

</html>